# Nix-related
.direnv/
result
result-*

# Positron / RStudio files
.Rproj.user/
*.Rproj
.vscode/
.Rhistory
.RData

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# General
.DS_Store
Thumbs.db