# Nix-related
.direnv/
result
result-*

# Positron / RStudio files
.Rproj.user/
*.Rproj
.vscode/
.Rhistory
.RData

# Quarto / rendering outputs (unless you want to version some)
_site/
*.html
*.pdf
*.docx
*.pptx

# Python
__pycache__/
*.pyc
.venv/
.python-version

# General
.DS_Store
Thumbs.db